server:
  port: 8080

spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres?currentSchema=employee_details
    username: postgres
    password: postgres
    driverClassName: org.postgresql.Driver

  flyway:
    enabled: false
    baseline-on-migrate: true
    locations: classpath:db/migration

  mongodb:
    uri: mongodb://myAppUser1:securePassword123@localhost:27017/employee_db?authSource=employee_db



